@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lato&family=Oswald&display=swap');
.logo {
  width: 107px;
  float: left;
  margin-right: 10pt;
  margin-bottom: 3pt;
  background-color: #ffffff94;
  padding: 3px;
}
html.home{
  background-image: url('lake.jpg'); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
html.spring{
  background-image: url('spring.jpg'); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
html.summer{
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
html.autumn{
  background-image: url('autumn.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
html.winter{
  background-image: url('winter.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
a:link{
  color: #3e5c92;
  padding: 5pt;
  border: 1px solid #1f6128;
  background-color: #d4deffb4;
  text-decoration: none;

}
a:visited{
  color: #0f204e;
}
a:hover{
  color:#5a328f;
  background-color: #b0c3ffb6;
  box-shadow: 2px 2px 1px 1px #b3b2b2; 
}
a.current{
  color: #646464;
  padding: 5pt;
}
a:active{
  color:#758fbe;
}
li{
  margin-bottom: 20px;  
  margin-top: 20px;
}
.textblock{
  color: #081435;
  border: 1px solid #0f204e;
  background-color: #ffffff9a;
  margin-right: 33%;
  text-align: justify;
  padding: 6px;
}
h1{
  color:#ffffff;
  font-family: "Oswald", serif;
  font-size: 60pt;  
}
h2{
  color:#cacaca;
  font-family: "Lato", serif;
  font-size: 20pt;
}
